.navbar-inverse {
	background: #282828;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav li a {
	color: white;
}

body {
	padding-top: 50px;
}

p {
	color: #828282;
}

footer {
	background: #E6E6E6;
	color: black;
}